header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5em 4em;
}

.currency {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    padding: 1.5em;
  }

  .currency {
    flex-direction: column;
  }
}
