@use "../../../styles/variables.scss" as variables;

.converter {
  height: 15vh;
  width: 40%;
  z-index: 1;
  padding: 0 50px;

  display: flex;
  justify-content: center;
  gap: 15px;
}

.exchangeIcon {
  display: block;
  height: 40%;
  align-self: center;
  color: variables.$paleBlue;

  cursor: pointer;
  transition: all 0.2s ease-out;
}

.exchangeIcon:hover {
  transform: scale(1.1);
}

.exchangeIcon:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
  .converter {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .converter {
    flex-direction: column;
    height: 30vh;
    width: 60%;
  }

  .exchangeIcon {
    display: block;
    height: 10%;
  }
}

@media screen and (max-width: 700px) {
  .converter {
    width: 80%;
  }
}
